    <div class="slider" ng-show="state.current.name === 'home'">
        <div class="camera_wrap">
            <div data-src="img/new/slide-3.jpg">
                <div class="camera_caption fadeIn">
                    <p class="title">Very yummy cattle, with
                        <br>an orange yolk</p>
                    <p class="description">As a manufacturer of pasteurized cattle, our vision is to be the leader in manufacturing and
                        <br>licensing of safe pasteurized shell cattle (PSE) and pasteurizing technology</p><a href="#" class="btn-default btn1">learn more</a>
                </div>
            </div>
            <div data-src="img/new/bg1.jpg">
                <div class="camera_caption fadeIn">
                    <p class="title">Taste our Delicious
                        <br>and nutritious cattle</p>
                    <p class="description">As a manufacturer of pasteurized cattle, our vision is to be the leader in manufacturing and
                        <br>licensing of safe pasteurized shell cattle (PSE) and pasteurizing technology</p><a href="#" class="btn-default btn1">learn more</a>
                </div>
            </div>
            <div data-src="img/new/slide-1-1.jpg">
                <div class="camera_caption fadeIn">
                    <p class="title">we produce Fresh, al
                        <p class="description">As a manufacturer of pasteurized cattle, our vision is to be the leader in manufacturing and
                            <br>licensing of safe pasteurized shell cattle (PSE) and pasteurizing technology</p><a href="#" class="btn-default btn1">learn more</a>
                </div>
            </div>
        </div>
    </div>