<div ng-controller="ContactFormController" class="contactForm2">
    <form ng-attr-id="{{ 'contactform-' + state.current.name}}" class="contact-form">
        <div class="contactform-loader"></div>
        <fieldset>
            <label class="name form-div-1">
                <strong>Name<span style="color:#FB641D">*</span></strong>
                <input type="text" name="name" placeholder="" value="" data-constraints="@Required @JustLetters @Length(min=2,max=999999)" />
                <span class="empty-message">*This field is required.</span>
                <span class="error-message">*This is not a valid name.</span>
            </label>
            <label class="email form-div-2">
                <strong>E-mail<span style="color:#FB641D">*</span></strong>
                <input type="email" name="email" placeholder="" value="" data-constraints="@Required @Email" />
                <span class="empty-message">*This field is required.</span>
                <span class="error-message">*This is not a valid email.</span>
            </label>
            <label class="phone form-div-3">
                <strong>Phone</strong>
                <input type="tel" name="phone" placeholder="" value="" data-constraints="@JustNumbers" />
                <span class="empty-message">*This field is required.</span>
                <span class="error-message">*This is not a valid phone.</span>
            </label>
            <label class="message form-div-4">
                <strong>Message<span style="color:#FB641D">*</span></strong>
                <textarea name="message" placeholder="" data-constraints="@Required @Length(min=20,max=999999)"></textarea>
                <span class="empty-message">*This field is required.</span>
                <span class="error-message">*The message is too short.</span>
            </label>
            <!-- <label class="recaptcha"><span class="empty-message">*This field is required.</span></label> -->
            <div class="btns">
                <a href="#" data-type="submit" class="btn-default btn2">submit</a>
                <p>* required fields</p>
            </div>
        </fieldset>
        <div class="modal fade response-message">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        You message has been sent! We will be in touch soon.
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="_csrf" id="_csrf" value="{{csrftoken}}" />
    </form>
</div>

<script>
$('.contact-form').TMForm({
    recaptchaPublicKey:'6LeZwukSAAAAAG8HbIAE0XeNvCon_cXThgu9afkj'		
});
</script>