<div ng-controller="ContactFormController" class="contactForm2">
    <form id="contactform" ng-submit="submit(contactform)" name="contactform" novalidate>
        <div class="contactform-loader"></div>
        <fieldset>
            <label class="name form-div-1">
                <strong>Name<span style="color:#fb641d">*</span></strong>
                <input type="text" ng-model="formData.name" name="name" placeholder="" value="" />
                <span class="error-message" ng-show="{{true}}">*This field is required.</span>
                <span class="error-message">*This field is too short.</span>
            </label>
            <label class="email form-div-2">
                <strong>E-mail<span style="color:#fb641d">*</span></strong>
                <input type="text" ng-model="formData.email" name="email" placeholder="" value="" />
                <span class="empty-message">*This field is required.</span>
                <span class="error-message">*This is not a valid email.</span>
            </label>
            <label class="phone form-div-3">
                <strong>Phone</strong>
                <input type="text" ng-model="formData.phone" name="phone" placeholder="" value="" data-constraints="@JustNumbers" />
                <span class="empty-message">*This field is required.</span>
                <span class="error-message">*This is not a valid phone.</span>
            </label>
            <label class="message form-div-4">
                <strong>Message<span style="color:#fb641d">*</span></strong>
                <textarea ng-model="formData.message" name="message" placeholder="" data-constraints='@Length(min=20,max=999999)'></textarea>
                <span class="empty-message">*This field is required.</span>
                <span class="error-message">*The message is too short.</span>
            </label>
            <!-- <label class="recaptcha"><span class="empty-message">*This field is required.</span></label> -->
            <div class="btns">
                <button type="submit" class="btn-default btn2" ng-disabled="submitButtonDisabled">send</button>
                <p>* required fields</p>
            </div>
        </fieldset>
        <p ng-class="result" style="padding: 15px; margin: 0;">{{resultMessage}}</p>
    </form>
</div>