<div ng-controller="FooterController" class="container">
    <ul class="follow_icon wow fadeInDown">
        <li>
            <a href="#" class="fa fa-twitter"></a>
        </li>
        <li>
            <a href="#" class="fa fa-facebook"></a>
        </li>
        <li>
            <a href="#" class="fa fa-instagram"></a>
        </li>
    </ul>
    <hr class="wow zoomIn">
    <p class="wow fadeInUp">Cameron Ranch &copy; <em id="copyright-year"></em> <a ui-sref="privacy-policy">Privacy Policy</a></p>
</div>