<h1 class="navbar-brand navbar-brand_ wow fadeInLeft" data-wow-delay="0.2s"><a href="index.html"><img style="height:210px;width:117px" ng-src="img/new/logo2.png" alt="logo2"></a></h1>
<nav class="navbar navbar-default navbar-static-top tm_navbar clearfix wow fadeInDown" role="navigation">
    <ul class="nav sf-menu clearfix">
        <li class="active"><a href="index.html">Home</a>
        </li>
        <li class="sub-menu"><a href="/about-us">About Us</a><span class="fa fa-angle-down"></span>
            <ul class="submenu">
                <li><a href="#">Quisque nulla</a>
                </li>
                <li><a href="#">Vestibulum libero nis</a><span class="fa fa-chevron-right"></span>
                    <ul class="submenu">
                        <li><a href="#">Do eiusmod</a>
                        </li>
                        <li><a href="#">Incididunt ut</a>
                        </li>
                        <li><a href="#">Et dolore</a>
                        </li>
                        <li><a href="#">Ut enim ad minim</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Porta vel scelerisque eget</a>
                </li>
                <li><a href="#">Malesuada at neque</a>
                </li>
                <li><a href="#">Vivamus eget nibh</a>
                </li>
            </ul>
        </li>
        <li><a href="/where-to-buy">Where To Buy</a>
        </li>
        <li><a href="/products">Products</a>
        </li>
        <li><a href="/contacts">Contacts</a>
        </li>
    </ul>
</nav>
