<div class="camera_wrap">
    <div data-ng-src="img/picture1.jpg">
        <div class="camera-caption fadeIn">
            <p class="title">Very yummy eggs, with
                <br>an orange yolk</p>
            <p class="description">As a manufacturer of pasteurized eggs, our vision is to be the leader in manufacturing and
                <br>licensing of safe pasteurized shell eggs (PSE) and pasteurizing technology</p><a href="#" class="btn-default btn1">learn more</a>
        </div>
    </div>
    <div data-ng-src="img/picture2.jpg">
        <div class="camera-caption fadeIn">
            <p class="title">Taste our Delicious
                <br>and nutritious eggs</p>
            <p class="description">As a manufacturer of pasteurized eggs, our vision is to be the leader in manufacturing and
                <br>licensing of safe pasteurized shell eggs (PSE) and pasteurizing technology</p><a href="#" class="btn-default btn1">learn more</a>
        </div>
    </div>
    <div data-ng-src="img/picture3.jpg">
        <div class="camera-caption fadeIn">
            <p class="title">we produce Fresh, al
                <br>natural soy-free eggs</p>
            <p class="description">As a manufacturer of pasteurized eggs, our vision is to be the leader in manufacturing and
                <br>licensing of safe pasteurized shell eggs (PSE) and pasteurizing technology</p><a href="#" class="btn-default btn1">learn more</a>
        </div>
    </div>
</div>