<section data-ng-controller="AboutUsController">
    <div class="who-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp">
                    <h2>Who we are</h2>
                    <div class="thumb-pad4">
                        <div class="thumbnail">
                            <figure><img ng-src="img/page2_pic1.jpg" alt="">
                            </figure>
                            <div class="caption">
                                <h3>Cum sociis natoque penatibu magnis dis parturient montes.</h3>
                                <p>Phasellus porta. Fusce susc varius mi. Cum sociis natoque penatibumagni dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas
                                    tristique orci ac sem. Duis ultricies pharetra magna. </p>
                                <a href="#" class="btn-default btn3">learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h2>our history</h2>
                    <ul class="list4">
                        <li>
                            <time datetime="2014-01-01">1892 -</time>
                            <div class="extra-wrap">
                                <p>Thomas Cameron from Scotland homesteads near the Missouri river. He briefly worked in Arizona on the railroad before settling in north-eastern Nebraska.</p>
                            </div>
                        </li>
                        <li>
                            <time datetime="2014-01-01">2004 -</time>
                            <div class="extra-wrap">
                                <p>Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. </p>
                            </div>
                        </li>
                        <li>
                            <time datetime="2014-01-01">1974 -</time>
                            <div class="extra-wrap">
                                <p>First blue heeler, Australian Cattle Dog, was purchased from Austalia by Milford and Evelyn Cameron.</p>
                            </div>
                        </li>
                        <li>
                            <time datetime="2014-01-01">2009 -</time>
                            <div class="extra-wrap">
                                <p>Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.</p>
                            </div>
                        </li>
                        <li>
                            <time datetime="2014-01-01">2012 -</time>
                            <div class="extra-wrap">
                                <p>Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.2s">
                    <h2>jobs opportunities</h2>
                    <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. </p>
                    <h3>Fusce susc variu. Cum sociis nato que penatibu:</h3>
                    <ul class="list2">
                        <li><a href="#">Vestibulum iaculis lacinia est</a>
                        </li>
                        <li><a href="#">Proin dictum elementum velit adipiscing elit</a>
                        </li>
                        <li><a href="#">Fusce euismod consequat ante</a>
                        </li>
                        <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a>
                        </li>
                        <li><a href="#">Pellentesque sed dolor</a>
                        </li>
                        <li><a href="#">Aliquam congue fermentum nisl</a>
                        </li>
                        <li><a href="#">Mauris accumsan nulla vel diam</a>
                        </li>
                        <li><a href="#">Sed in lacus ut enim adipiscing aliquet</a>
                        </li>
                        <li><a href="#">Nulla venenatis</a>
                        </li>
                    </ul>
                    <p>Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci.</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="thumb-box5">
        <div class="container">
            <h2 class="wow fadeInDown">meet our staff</h2>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp">
                    <div class="thumb-pad5">
                        <div class="thumbnail">
                            <figure><img ng-src="img/page2_pic2.jpg" alt="">
                            </figure>
                            <div class="caption">
                                <a href="#">Helen Tompson</a>
                                <p>Cum sociis natoque penatibus</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="thumb-pad5">
                        <div class="thumbnail">
                            <figure><img ng-src="img/page2_pic3.jpg" alt="">
                            </figure>
                            <div class="caption">
                                <a href="#">Mark Johnson</a>
                                <p>Cum sociis natoque penatibus</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="thumb-pad5">
                        <div class="thumbnail">
                            <figure><img ng-src="img/page2_pic4.jpg" alt="">
                            </figure>
                            <div class="caption">
                                <a href="#">Alan Smith</a>
                                <p>Cum sociis natoque penatibus</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="thumb-pad5">
                        <div class="thumbnail">
                            <figure><img ng-src="img/page2_pic5.jpg" alt="">
                            </figure>
                            <div class="caption">
                                <a href="#">Marta Healy</a>
                                <p>Cum sociis natoque penatibus</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="thumb-box6">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp">
                    <h2>why choose us?</h2>
                    <ul class="list7">
                        <li>
                            <strong>01.</strong>
                            <p>Phasellus porta. Fusce susc varius mi. Cum sociis natoque penatibumagni dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. </p>
                        </li>
                        <li>
                            <strong>02.</strong>
                            <p>Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. </p>
                        </li>
                        <li>
                            <strong>03.</strong>
                            <p>Cum sociis natoque penatibumagni dis par turient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. </p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h2>useful links</h2>
                    <h3>Fusce susc variu. Cum sociis nato que penatibu:</h3>
                    <ul class="list2">
                        <li><a href="#">Vestibulum iaculis lacinia est</a>
                        </li>
                        <li><a href="#">Proin dictum elementum velit adipiscing elit</a>
                        </li>
                        <li><a href="#">Fusce euismod consequat ante</a>
                        </li>
                        <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a>
                        </li>
                        <li><a href="#">Pellentesque sed dolor</a>
                        </li>
                        <li><a href="#">Aliquam congue fermentum nisl</a>
                        </li>
                    </ul>
                    <h3>Cum sociis natoque penatibu magnis dis parturient montes:</h3>
                    <ul class="list2">
                        <li><a href="#">Lorem ipsum dolor sit amet, consectetuer</a>
                        </li>
                        <li><a href="#">Pellentesque sed dolor</a>
                        </li>
                        <li><a href="#">Aliquam congue fermentum nisl</a>
                        </li>
                        <li><a href="#">Mauris accumsan nulla vel diam</a>
                        </li>
                        <li><a href="#">Sed in lacus ut enim adipiscing aliquet</a>
                        </li>
                        <li><a href="#">Nulla venenatis</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 wow fadeInUp" data-wow-delay="0.2s">
                    <h2>testimonials</h2>
                    <ul class="list3">
                        <li>
                            <p class="title"><em></em>Lorem ipsum dolor sit amet, coniscing elit. Praesent vestibm molestie lacus. Aenean onummy hendrerit mauris hasellus porta.</p>
                            <p class="name">Gloria</p>
                            <p>Cum sociis natoque </p>
                        </li>
                        <li>
                            <p class="title"><em></em>Lorem ipsum dolor sit amet, coniscing elit. Praesent vestibm molestie lacus. Aenean onummy hendrerit mauris hasellus porta.</p>
                            <p class="name">Tom </p>
                            <p>Cum sociis natoque </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>