<section data-ng-controller="ContactsController">
    <div class="container">
       <ng-include src="'/modules/core/views/google-map.client.view.html'"></ng-include>
    </div>
    <div class="thumb-box10">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <h2 class="wow fadeInDown">Homestead</h2>
                    <div class="info">
                        <h3>Address:</h3>
                        <p>Cameron Ranch
                            <br>51850 894 Rd, Niobrara, NE 68760</p>
                        <h3>Telephone:</h3>
                        <p>(402) 229-3300</p>
                        <!--
                        <h3>Address 2:</h3>
                        <p>The Company Name Inc.
                            <br>9870 St Vincent Place, Glasgow, DC 45 Fr 45.</p> -->
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <h2 class="wow fadeInDown" data-wow-delay="0.1s">contact form</h2>
                    <ng-include src="'/modules/core/views/contactform.client.view.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</section>