<script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        resolution: 'standard_resolution',
        //clientId: '4616410d92be455ba944ffd7b3f35aed',
        accessToken:'34336629.4616410.bf1cbca47706468d8965b92394836b1a',
        limit: 3,
        userId: 34336629,
        sortBy: 'most-recent',
        template: '<div class="row" ><div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.1s"><a href="{{link}}"><img class="img-responsive" src="{{image}}" alt=""></a></div><div class="col-md-8"><p class="gallery wow fadeInUp animated" data-wow-delay="0.3s">{{caption}}</p></div></div><hr class="gallery">',
    });
    feed.run();
</script>
<section data-ng-controller="GalleryController">
    <div class="thumb-box9">
        <div class="container">
            <h2 class="wow fadeInUp">our gallery</h2>
            <!-- Picture One -->
            <section id="instafeed"></section>
       </div>
   </div>
</section>
