<h1 class="navbar-brand navbar-brand_ wow fadeInLeft" data-wow-delay="0.2s"><a href="index.html"><img ng-src="img/logo.png" alt="logo"></a></h1>
<div class="js-search flt__l flt__n-xl">
    <div class="toggle"></div>
    <form id="search" class="search-form" action="search.php" method="GET" accept-charset="utf-8">
        <label class="input" for="in">
            <input id="in" type="text" name="s" value="Search" onblur="if(this.value == '') { this.value='Search'}" onfocus="if (this.value == 'Search') {this.value=''}">
            <a href="#" onClick="document.getElementById('search').submit()" class="js-find"></a>
        </label>
    </form>
</div>
<nav class="navbar navbar-default navbar-static-top tm_navbar clearfix wow fadeInDown" role="navigation">
    <ul class="nav sf-menu clearfix">
        <li><a data-ng-href="/#!/">Home</a>
        </li>
        <li class="active sub-menu"><a data-ng-href="/#!/about-us">About Us</a>
        </li>
        <li><a data-ng-href="/#!/where-to-buy">Where To Buy</a>
        </li>
        <li><a data-ng-href="/#!/products">Products</a>
        </li>
        <li><a data-ng-href="/#!/contacts">Contacts</a>
        </li>
    </ul>
</nav>