<section data-ng-controller="ProductsController">
	<div class="thumb-box9">
        <div class="container">
            <h2 class="wow fadeInUp">our products</h2>
            <h3 class="wow fadeInUp" data-wow-delay="0.1s">Only super-fresh cattle!</h3>
            <p class="wow fadeInUp"  data-wow-delay="0.2s">Phasellus porta. Fusce susc varius mi. Cum sociis natoque penatibumagni dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. </p>
            <p class="wow fadeInUp" data-wow-delay="0.3s">Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elitenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>
            <p class="title wow fadeInRight" data-wow-delay="0.4s">Cattle</p>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay="0.1s">
                    <div class="thumb-pad3">
                        <div class="thumbnail">
                            <figure><img ng-src="img/new/windmill.jpg" alt=""></figure>
                            <div class="caption">
                                <h3>Black Angus bull</h3>
                                <!-- <p>Size: Primis<br>Count: 12</p> -->
                                <i class="fa fa-external-link"></i> <a data-toggle="modal" target="#myModal" href="https://www.flickr.com/photos/brittgow/4782264442" class="btn-default btn4">By brittgow<span class="fa fa-angle-right"></span></a>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay="0.1s">
                    <div class="thumb-pad3">
                        <div class="thumbnail">
                            <figure><img ng-src="img/new/ben_cattle_herdw.jpg" alt=""></figure>
                            <div class="caption">
                                <h3>Cattle in the Pasture</h3>
                                <!-- <p>Size: Primis<br>Count: 12</p> -->
                                <i class="fa fa-external-link"></i> <a href="https://www.flickr.com/photos/unitedsoybean/9625485138" class="btn-default btn4">By United Soybean Board<span class="fa fa-angle-right"></span></a>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay="0.1s">
                    <div class="thumb-pad3">
                        <div class="thumbnail">
                            <figure><img ng-src="img/new/feedingtime.jpg" alt=""></figure>
                            <div class="caption">
                                <h3>Slobbering Cow</h3>
                                <!-- <p>Size: Primis<br>Count: 12</p> -->
                                <i class="fa fa-external-link"></i> <a href="https://www.flickr.com/photos/fixersphotos/2139426864" class="btn-default btn4">By Frank Boston<span class="fa fa-angle-right"></span></a>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInLeft">
                    <div class="thumb-pad3">
                        <div class="thumbnail">
                            <figure><img ng-src="img/new/cattle.jpg" alt=""></figure>
                            <div class="caption">
                                <h3>Snow Cow</h3>
                               <!--  <p>Size: Primis<br>Count: 12</p> -->
                                <i class="fa fa-external-link"></i> <a href="https://www.flickr.com/photos/calliope/12019792956" class="btn-default btn4">By liz west<span class="fa fa-angle-right"></span></a>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr class="wow zoomIn">
            
            <p class="title wow fadeInLeft">alfalfa</p>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInRight">
                    <div class="thumb-pad3">
                        <div class="thumbnail">
                            <figure><img ng-src="img/new/186661973_49e2bc4336_z.jpg" alt=""></figure>
                            <div class="caption">
                                <h3>Alfalfa blooms</h3>
                                <!-- <p>Size: Primis<br>Count: 12</p>-->
                                <i class="fa fa-external-link"></i> <a href="https://www.flickr.com/photos/dezbaa/186661973/in/photolist-9d83Rj-o74R9k-huG6T-nyK9a9-oq9rvW-o73MWS-Rxu4u-eZrZBf-jKBzsp-7yhQVz-8wcc8h-6NaL1E-o73LRW-o73GP9-58D9rP-6BLFfC-dref69-oow4cL-cgfTwo-51LLZM-8unF7g-6Mv7D7-5fuw5c-eXSCCw-bPHCtZ-a5UbwN-ounDWu-nY8gEq-bUY6C6-cU65ys-oc7mpy-o1aQLZ-8g6yc2-oenjNV-osxPv3-oqihPF-8sXW1v-orzgMq-51qFuB-9UhVEF-odgxQ2-6YBEce-oendmr-dYBHnF-51kar6-nWfBd4-oi7wo9-ovqiU7-JaUYD-4Tb5VL" class="btn-default btn4">By Dezbaa<span class="fa fa-angle-right"></span></a>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInRight" data-wow-delay="0.1s">
                    <div class="thumb-pad3">
                        <div class="thumbnail">
                            <figure><img ng-src="img/new/7761451388_a3879b0e82_z.jpg" alt=""></figure>
                            <div class="caption">
                                <h3>Alfalfa field</h3>
                                <!-- <p>Size: Primis<br>Count: 12</p> -->
                                <i class="fa fa-external-link"></i> <a href="https://www.flickr.com/photos/eggrole/7761451388" class="btn-default btn4">By Mark<span class="fa fa-angle-right"></span></a>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInRight" data-wow-delay="0.2s">
                    <div class="thumb-pad3">
                        <div class="thumbnail">
                            <figure><img ng-src="img/new/7342507520_85b256ea98_z.jpg" alt=""></figure>
                            <div class="caption">
                                <h3>Alfalfa Field</h3>
                                <!-- <p>Size: Primis<br>Count: 12</p> -->
                                <i class="fa fa-external-link"></i> <a href="https://www.flickr.com/photos/alternative_heat/7342507520" class="btn-default btn4">By Alternative Heat<span class="fa fa-angle-right"></span></a>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInRight" data-wow-delay="0.3s">
                    <div class="thumb-pad3">
                        <div class="thumbnail">
                            <figure><img ng-src="img/new/2631409605_d128c8e1f9_z.jpg" alt=""></figure>
                            <div class="caption">
                                <h3>More Bails, Bails</h3>
                                <!-- <p>Size: Primis<br>Count: 12</p> -->
                                <i class="fa fa-external-link"></i> <a href="https://www.flickr.com/photos/caldeira-co-99/2631409605" class="btn-default btn4">By Lydia Caldeira<span class="fa fa-angle-right"></span></a>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr class="wow zoomIn">
            <p class="title wow fadeInRight">Grain</p>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="thumb-pad3">
                        <div class="thumbnail">
                            <figure><img ng-src="img/new/14041830752_67495e746f_z.jpg" alt=""></figure>
                            <div class="caption">
                                <h3>Health of a crop</h3>
                                <!-- <p>Size: Primis<br>Count: 12</p> -->
                                <i class="fa fa-external-link"></i> <a href="#" class="btn-default btn4">By USDA<span class="fa fa-angle-right"></span></a>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="thumb-pad3">
                        <div class="thumbnail">
                            <figure><img ng-src="img/new/truckbed.jpg" alt=""></figure>
                            <div class="caption">
                                <h3>Growing wheat field</h3>
                                <!-- <p>Size: Primis<br>Count: 12</p> -->
                                <i class="fa fa-external-link"></i> <a href="https://www.flickr.com/photos/miran/7146639785" class="btn-default btn4">By Miran Rijavec<span class="fa fa-angle-right"></span></a>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInLeft" data-wow-delay="0.1s">
                    <div class="thumb-pad3">
                        <div class="thumbnail">
                            <figure><img ng-src="img/new/truck.jpg" alt=""></figure>
                            <div class="caption">
                                <h3>grain elevator</h3>
                                <!-- <p>Size: Primis<br>Count: 12</p> -->
                                <i class="fa fa-external-link"></i> <a href="https://www.flickr.com/photos/waferboard/9887197796" class="btn-default btn4">By waferboard<span class="fa fa-angle-right"></span></a>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wow fadeInLeft">
                    <div class="thumb-pad3">
                        <div class="thumbnail">
                            <figure><img ng-src="img/new/bails.jpg" alt=""></figure>
                            <div class="caption">
                                <h3>Snow rows</h3>
                                <!-- <p>Size: Primis<br>Count: 12</p> -->
                                <i class="fa fa-external-link"></i> <a href="https://www.flickr.com/photos/10154402@N03/5798263051" class="btn-default btn4">By Bruce Guenter<span class="fa fa-angle-right"></span></a>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>