{% extends 'simple.server.view.html' %} {% block content %}
<div class="content indent">
    <div class="errorBox">
        <div class="container">
            <p class="title wow fadeInLeft">oops!</p>
            <p class="description wow fadeInLeft" data-wow-delay="0.1s">{{error}}</p>
            <hr class="wow zoomIn">
            <p class="wow fadeInUp">The page you are looking for might have been removed, had its name changed, or is temporarily unavailable. Please try using our search box below to look for information on the website</p>
            <div class="row">
                <div class="col-lg-9 col-md-10">
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}